/* Fuentes de texto */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
 /** Img header **/
.img-header{
   background:url(img/banner.jpg);
   background-attachment:scroll;
   background-position:center;
   background-size: 200vh;
   background-color: rgba(0,0,0,0.6);
   background-blend-mode: soft-light;
   position: relative;
   width: 100%;
   height: 25vh;
}
.bienvenida h2{
   color:#ffffff;
   font-family: 'Mate SC', serif;
   text-align: center;
   font-size: 40px;
   font-weight: 400;
   margin-bottom: 1em;
}
.bienvenida{
   width: 100%;
   height: 35vh;
   display: flex;
   justify-content:center;
   align-items: center;
   flex-direction: column;
}
.img-header .bienvenida i {
   color: rgb(194, 94, 13);
}
.img-header .bienvenida{
   width: 100%;
   height: 35vh;
   display: flex;
   justify-content:center;
   align-items: center;
   flex-direction: column;
}

/** About Us **/
.about-us{
   width: 100%;
}
.about-us .info{
    width: 100%;
    margin-top: 100px;
}
.about-us .info h3{
    text-align: center;
    font-size: 40px;
    font-weight: 400;
}
.about-us .info p {
   width: 80%;
   margin:50px auto;
   text-align: center;
   color:#000;
   font-size: 19px;
   line-height: 40px;
   font-family: Lato;
}
.about-us .free-content{
    width: 100%;
    margin-top: 100px;
    background: #787988;
    padding:30px;
}
.about-us .free-content h4{
    text-align: center;
    font-size: 40px;
    font-weight: 400;
}
.about-us .free-content .icons{
    width: 90%;
    margin:30px auto;
    display: flex;
    justify-content: center;
}
.about-us .free-content .icons > div{
   width: 100%; 
   margin:0px 30px;
}
.about-us .free-content .icons > div > .iconos{
    width:100%;
    font-size: 80px;
    display: flex;
    justify-content: center;
}

/** ICONOS ESPECIFICOS **/
#icono-html {
   color: rgb(228, 148, 0);
}
#icono-css {
   color: skyblue;
}
#icono-javascript {
   color: yellow;
}

.about-us .free-content .icons > div h6{
    font-size: 25px;
    font-family: 'Mate SC', serif;
    text-align: center;
    font-weight:normal;
    margin:20px 0px 5px 0px;
}
#html{
   color: orange;
}
#css {
   color:skyblue;
}
#javascript {
   color:yellow;
}
.about-us .free-content .icons > div p{
    font-size: 18px;
    text-align: center;
    color:#fff;
}
