* {   
    width: 100%;
    height: 100%vh;
    background: url(5dec47012d257.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    font-size: 60px;
    color: #000;
    }   