
/* * {   
   width: 90%;
   height: 100%vh;
   background: url(imagenes/5dec47012d257.jpeg);
   background-size: cover;
   background-attachment: fixed;
   font-size: 25px;
   color: #ffffff;  
 } */

.bloque-2 {
   border-style: solid;
}

 .bloque-1 {
    border-style: solid;
 }