 /* Global */
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*Barra de navegación*/
.container {
    width: 80%;
    margin: 0 auto;
 }
 .header {
    background: #333;
    color: white;
    padding: 0.5rem 0;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
 }
 .header a {
    color: white;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
 }
 .logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
 }
 .logo {
    max-height:50%;
    min-height:20%;
    width:50px;
 }
 .menu-icon {
    display: none;
 }
 .navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
 }
 .navigation ul li {
       display: inline-block;
 }
 .navigation ul li a {
 display: block;
 padding: 0.5rem 1rem;
 transition: all 0.4s linear;
 border-radius: 5px;
 }
 .navigation ul li a:hover {
 background: #4a4a4a;
 }

/* Pie de página */
footer {
   width: 100%;
   background: #202020;
   color: white;  

   position: flex; 
   left: 0;
   right: 0;
}

.container-footer-all {
   width: 100%;
   max-width: 1200px;
   margin: auto;
   padding: 40px;
}

.container-body {
   display: flex;
   justify-content: space-between;
}

.colum1 {
   max-width: 400px;
}

.colum1 h1 {   
   font-size: 22px;
}

.colum1 p {
   font-size: 14px;
   color: #C7C7C7;
   margin-top: 20px;
}

.colum2 {
   max-width: 400px;
}

.colum2 h1 {
   font-size: 22px;
}

.row {
   margin-top: 20px;
   display: flex;
}

.row img {
   width: 36px;
   height: 36px;
}

.row label {
   margin-top: 10px;
   margin-left: 20px;
   color: #C7C7C7;
}

.colum3 {
   max-width: 400px;
}

.colum3 h1 {
   font-size: 22px;
}

.row2 {
   margin-top: 20px;
   display: flex;
}

.row2 img {
   width: 36px;
   height: 36px;
}

.row2 label {
   margin-top: 10px;
   margin-left: 20px;
   max-width: 140px;
}

.container-footer {
   width: 100%;  
}

.footer {
   max-width: 1200px;
   margin: auto;
   display: flex;
   justify-content: space-between;  
   padding: 20px;
}

.copyright {
   margin-left: 40%;
   margin-right: 0%;
   color: #C7C7C7;
}

.information a {
   text-decoration: none;
   color: #C7C7C7;
}
 
